pygoogletranslation~=2.0.6
tqdm~=4.66.2
pandas~=2.2.2
numpy~=1.26.4
gensim~=4.3.2
matplotlib~=3.8.4
scikit-learn~=1.4.2
joblib~=1.4.0
spacy~=3.7.4
nltk~=3.8.1
fastapi~=0.111.0
pydantic~=2.7.1
python-dotenv~=1.0.1