{% extends "base.html" %}

{% block title %}Text Submission Form{% endblock %}
<style>
    body { font-family: Arial, sans-serif; margin: 40px; }
    textarea { width: 300px; height: 150px; padding: 10px; resize: both; }
    button { padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer; }
    button:hover { background-color: #45a049; }
    h1, h2 { color: #333; }
    #loading-spinner {
        display: none;
        margin-top: 20px;
        text-align: center;
    }
    .spinner {
        margin: 20px auto;
        width: 50px;
        height: 50px;
        border: 5px solid #f3f3f3;
        border-top: 5px solid #4CAF50;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>

{% block content %}
    <div id="content">
        <h2>If you want to put text corpus, divide them by this symbol: ";", ".", "!", "?"</h2>
        <form id="text-form" action="/" method="post">
            <textarea name="text" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div id="loading-spinner">
        <div class="spinner"></div>
        <p id="loading-text" style="display: none;">Please wait while we process your request...</p>
        <p id="additional-text1" style="display: none;">Please wait, we`ve just preprocessed text...</p>
        <p id="additional-text2" style="display: none;">Please wait while we search propaganda ngrams...</p>
    </div>

    <script>
        document.getElementById('text-form').addEventListener('submit', function(event) {
            document.getElementById('content').style.display = 'none';
            document.getElementById('loading-spinner').style.display = 'block';
            document.getElementById('loading-text').style.display = 'block';
            setTimeout(function() {
                document.getElementById('additional-text1').style.display = 'block';
            }, 2000);
            setTimeout(function() {
                document.getElementById('additional-text2').style.display = 'block';
            }, 10000);
        });
    </script>
{% endblock %}
